/* SWING CMS APP LAYOUT CSS */

/* *******************
- Reusable Media Queries Sentences

// Laptops and Computers
@media all and (min-width: 52.5em) {
}

// Tablets
@media all and (max-width: 52.49em) {
}

// Smartphones
@media all and (max-width: 37.49em) {
}

********************** */

/* Import Theme Variables */

@use "@material/elevation";
@use "swing_theme_variables" as stv;

/* Main Layout Components */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: stv.$swing-theme-background;
    display: flex;
    font-size: 1rem;
    font-family: stv.$swing-typography-font-family;
}

.mdc-drawer-app-content {
    flex: auto;
    height: 100vh;
    overflow: auto;
    position: relative;
}

.s-main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.s-main-content--extend-tab-color-primary {
    background: linear-gradient(180deg, stv.$swing-theme-primary 20%, stv.$swing-theme-background 20%);
}

.s-footer {
    background: stv.$swing-theme-surface;
    font-size: 0.9rem;
    margin: 0rem 0.5rem;
    padding: 2rem;

    section {
        margin: 0rem 1rem;
    }

    .footer-section__title {
        font-weight: bold;
        font-variant: small-caps;
        margin-bottom: 1rem;
    }

    .footer-about__text {
        font-style: italic;
        line-height: 1.5rem;
    }

    .footer-about__author {
        float: right;
        font-size: 0.8rem;
        margin-top: 1rem;
    }

    .footer-copyright {
        font-size: 0.7rem;
    }
}

.s-topbar {
    #accountImage {
        border-radius: 50%;
    }
}

.s-topbar-loading {
    position: sticky;
    top: 0;
    z-index: 4;
}

/* Container layouts */

.container-appointment {
    .container-appointment-confirm {
        div {
            padding: 0.5rem;
        }
    }

    .container-appointment-date {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .container-appointment-service {
        grid-column-start: 1;
    }

    .container-appointment-time {
        grid-row: span 2;

        .container-appointment-hours {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .mdc-card {
                margin: 1rem;
                width: 16rem;

                .mdc-card__primary-action {
                    padding: 1.5rem 1rem;
                }
            }
        }
    }
}

.container-appointmentadm {
    .container-appointmentadm-confirm {
        .container-appointment-confirm--review {
            display: flex;
            justify-content: center;

            .material-icons {
                font-size: 1.75rem;
            }
        }

        .container-appointment-confirm--submit {
            margin-top: 1rem;
        }
    }

    .container-appointmentadm-date {
        #appointment-cal {
            display: flex;
            justify-content: center;
        }
    }

    .container-appointmentadm-emp {
        .container-appointmentadm-emp--record-info {
            display: flex;
            flex-direction: column;
            margin-left: 0.5rem;
        }

        div:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    .container-appointmentadm-searchmenu {
        min-width: 100%;
    }

    .container-appointmentadm-time {
        .container-appointment-hours {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .container-appointment-hours--daytime {
                align-items: center;
                display: flex;

                span {
                    margin-left: 0.5rem;
                }
            }

            .mdc-card {
                margin: 1rem;
                width: 16rem;

                .mdc-card__primary-action {
                    padding: 1.5rem 1rem;
                }
            }
        }
    }

    .container-appointmentadm-user {
        grid-row: span 2;
        
        .container-appointmentadm-user--record-info {
            display: flex;
            flex-direction: column;
            margin-left: 0.5rem;
        }

        div:not(:last-child):not(.mdc-select) {
            margin-bottom: 1rem;
        }
    }
}

.container-appointments-list {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;

    .mdc-card {
        margin: 0.25rem 0.2rem;
        max-width: 20rem;
        min-width: 15rem;
        text-align: start;

        .mdc-card__primary-action {
            padding: 1rem 0.5rem 1rem 1rem;

            .s-mdc-card__appointment-createdby,
            .s-mdc-card__appointment-date,
            .s-mdc-card__appointment-service {
                margin: 0.35rem 0;
            }

            .s-mdc-card__appointment-createdfor,
            .s-mdc-card__appointment-daytime,
            .s-mdc-card__appointment-empassigned {
                align-items: center;
                display: flex;
                margin: 0.35rem 0;

                div {
                    margin-left: 0.75rem;
                }
            }

        }

        .mdc-card__actions {
            justify-content: flex-end;
        }
    }
}

.container-appointments-list--empty {
    padding: 5rem 0;
}

.container-appointments-tabs {
    margin-bottom: 1rem;
}

.container-avcalls {
    background: stv.$swing-theme-secondary;
    min-height: 90vh;
    width: 100%;

    .container-avcalls--actions {
        align-items: center;
        bottom: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 4rem 0rem;
        position: absolute;
        width: 100%;

        button {
            margin: 0 1.5rem;
        }
    }

    .container-avcalls--canvas {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        position: relative;
        width: 100%;

        .container-avcalls--callerid-pic {
            margin: 5rem 0rem;

            img {
                border: 0.5rem solid stv.$swing-theme-surface;
                border-radius: 50%;
                height: 15rem;
            }
        }

        .container-avcalls--video-main {
            height: 90vh;
            object-fit: cover;
            width: 100%;
        }

        .container-avcalls--videos {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin: 1rem;
            position: absolute;
            right: 0;
            width: 23vh;

            .container-avcalls--video-small {
                border-radius: 0.5rem;
                height: 13vh;
                margin-bottom: 1rem;
                max-height: 23vh;
                object-fit: cover;
                width: 100%;
            }
        }

        .container-avcalls--videos-16x9 {
            padding-bottom: calc(9 / 16 * 100%);
        }

        .container-avcalls--videos-2x3 {
            padding-bottom: calc(3 / 2 * 100%);
        }

        .container-avcalls--videos-3x2 {
            padding-bottom: calc(2 / 3 * 100%);
        }

        .container-avcalls--videos-9x16 {
            padding-bottom: calc(16 / 9 * 100%);
        }
    }
}

@media all and (min-width: 52.5em) {
    // Laptops and Computers
    .container-chat {
        margin: 0rem 5%;
        min-height: 80vh;
        padding: 1rem;
        width: 80%;

        .container-chat--canvas {
            height: 100%;
            border-radius: 0.5rem;
        }
    }
}
@media all and (max-width: 52.49em) {
    // Tablets
    .container-chat {
        margin: 0;
        min-height: 80vh;
        padding: 2rem;
        width: 90%;

        .container-chat--canvas {
            height: 100%;
            border-radius: 0.5rem;
        }
    }
}
@media all and (max-width: 37.49em) {
    // Smartphones
    .container-chat {
        margin: 0;
        min-height: 92vh;
        padding: 0;
        width: 100%;

        .container-chat--canvas {
            height: 100%;
            border-radius: 0rem;
        }
    }
}

.container-chat {
    .container-chat--grid,
    .container-chat--grid__inner {
        height: 100%;
    }

    .container-chat--body {
        height: 50vh;
        min-height: 100%;

        .container-chat--body-messages {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow-y: auto;
            padding: 0rem 1rem;

            .container-chat--body-message-auto {
                align-self: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin: 1rem;
            }

            .container-chat--body-message-reversed {
                display: flex;
                flex-direction: column-reverse;
            }

            .container-chat--body-header-me {
                align-items: flex-end;
                display: flex;
                flex-direction: row-reverse;
                flex-shrink: 0;
                height: 2.5rem;
                margin: 0.5rem 0rem;

                img {
                    border-radius: 50%;
                    height: 100%;
                }

                span {
                    margin: 0rem 0.5rem;
                }
            }

            .container-chat--body-message-me {
                align-self: flex-end;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin: 0.5rem 1.5rem 0rem 3rem;

                .container-chat--body-message-message {
                    align-self: flex-end;
                    background: stv.$swing-theme-primary;
                    border-radius: 0.75rem 0rem 0.75rem 0.75rem;
                    padding: 0.75rem 0.5rem;

                    a {
                        color: stv.$swing-theme-on-primary;
                    }
                }

                .container-chat--body-message-message-time {
                    align-self: flex-end;
                    margin-top: 0.25rem;
                }
            }

            .container-chat--body-header-others {
                align-items: flex-end;
                display: flex;
                flex-direction: row;
                flex-shrink: 0;
                height: 2.5rem;
                margin: 0.5rem 0rem;

                img {
                    border-radius: 50%;
                    height: 100%;
                }

                span {
                    margin: 0rem 0.5rem;
                }
            }

            .container-chat--body-message-others {
                align-self: flex-start;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin: 0.5rem 3rem 0rem 1.5rem;

                .container-chat--body-message-message {
                    align-self: flex-start;
                    background: stv.$swing-theme-secondary;
                    border-radius: 0rem 0.75rem 0.75rem 0.75rem;
                    padding: 0.75rem 0.5rem;

                    a {
                        color: stv.$swing-theme-on-secondary;
                    }
                }

                .container-chat--body-message-message-time {
                    align-self: flex-start;
                    margin-top: 0.25rem;
                }

                .container-chat--body-message-message-user {
                    align-self: flex-start;
                    margin-right: 0.5rem;
                }
            }
        }

        .container-chat--body-messages-hidden {
            display: none !important;
        }

        .container-chat--body-message-istyping {
            display: flex;
            margin: 0.5rem 0 0 0.5rem;
        }
    }

    .container-chat--footer {
        align-items: center;
        display: flex;
        justify-content: space-between;
        max-height: 5rem;

        .container-chat--footer-input {
            display: inline-flex;
            flex: 1 1 auto;
            justify-content: flex-start;

            .mdc-text-field__input {
                height: 4rem;
                resize: none;
            }
        }

        .container-chat--footer-actions {
            display: inline-flex;
            justify-content: flex-end;
            margin-left: 1rem;
        }
    }

    .container-chat--no-conversation {
        grid-row: span 3;
    }

    .container-chat--sidemenu {
        border-right: 0.0625rem dotted stv.$swing-theme-background;
        grid-row: span 3;
        height: 100%;

        .container-chat--sidemenu-assigned {
            border-left: 0.25rem solid stv.$swing-theme-primary;
        }

        .container-chat--sidemenu-header {
            display: flex;
            padding: 0.25rem 0.5rem 2rem 0;

            img {
                border-radius: 50%;
                cursor: pointer;
                height: 3.25rem;
                margin-left: 0.25rem;
            }

            .container-chat--sidemenu-header-info-data-status-icon {
                font-size: 0.75rem;
                margin: 2.65rem 0 0 2.65rem;
                position: absolute;
            }

            .container-chat--sidemenu-header-info-data {
                display: flex;
                flex-flow: column;
                justify-content: center;
                margin: 0rem 1rem;
                overflow: hidden;

                .container-chat--sidemenu-header-info-data-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .container-chat--sidemenu-header-info-data-status {
                    align-items: center;
                    display: flex;
                    flex-shrink: 0;
                    overflow: hidden;
                    white-space: nowrap;

                    .container-chat--sidemenu-header-info-data-status-text{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }

            .container-chat--sidemenu-header-info-data-status-menu {
                z-index: 2;

                .mdc-deprecated-list-item__graphic {
                    font-size: 0.75rem;
                    margin-right: 1rem;
                }

                .mdc-menu-surface {
                    min-width: 12rem;
                }

                .s-menu-subtitle {
                    margin: 1rem 0 0 1.25rem;
                }
            }
        }

        .container-chat--sidemenu-filters {
            display: flex;
            flex-direction: row;
            flex-shrink: 0;
            width: 95%;
        }

        .container-chat--sidemenu-rooms {
            max-height: 65vh;
            overflow: auto;

            .container-chat--sidemenu-rooms-usertype {
                .container-chat--sidemenu-rooms-usertype-header{
                    padding: 1rem;
                }
            }

            .mdc-deprecated-list--avatar-list {
                padding: 0;

                .mdc-deprecated-list-item {
                    padding-left: 0rem;
                }

                .mdc-deprecated-list-item__graphic {
                    margin-left: 0.25rem;
                    margin-right: 1rem;
                }

                .mdc-deprecated-list-item__graphic-status {
                    font-size: 0.75rem;
                    margin: 2rem 0 0 2rem;
                    position: absolute;
                }

                .mdc-deprecated-list-item__meta {
                    i {
                        font-size: 1.35rem;
                        margin-left: 1rem;
                    }
                }

                .mdc-deprecated-list-item__secondary-text {
                    font-size: 0.75rem;
                }
            }
        }
    }

    .container-chat--topbar {
        max-height: 3rem;

        .container-chat--topbar-header {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .container-chat--topbar-info {
                display: inline-flex;
                flex: 1 1 0;
                justify-content: flex-start;
                overflow: hidden;

                .container-chat--topbar-info-back {
                    margin-right: 0.5rem;
                }

                .container-chat--topbar-info-data {
                    display: flex;
                    flex-flow: column;
                    margin: 0rem 1rem;
                    overflow: hidden;

                    .container-chat--topbar-info-data-name {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .container-chat--topbar-info-data-status {
                        align-items: center;
                        display: flex;
                        flex-shrink: 0;
                        overflow: hidden;
                        white-space: nowrap;

                        .container-chat--topbar-info-data-status-icon {
                            font-size: 0.6rem;
                            margin-right: 0.25rem;
                        }

                        .container-chat--topbar-info-data-status-text {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }

                .container-chat--topbar-info-pic {
                    border-radius: 50%;
                    height: 2.5rem;

                    img {
                        border-radius: 50%;
                        height: 100%;
                    }
                }
            }

            .container-chat--topbar-actions {
                display: inline-flex;
                flex: 0 1 0;
                justify-content: flex-end;
            }
        }
    }
}

.container-color-background {
    background: stv.$swing-theme-background;
    display: block;
    width: 100%;
}

.container-color-secondary {
    background: stv.$swing-theme-secondary;
    display: block;
    width: 100%;
}

.container-color-surface {
    background: stv.$swing-theme-surface;
    display: block;
    width: 100%;
}

.container-dialog--satisfaction {
    display: flex;
    justify-content: space-around;
    overflow: auto;

    .mdc-deprecated-list-item__graphic {
        font-size: 3rem;
        margin: 0;
    }
}

.container-dialog--transfer {
    overflow: auto;
    @media all and (min-width: 52.5em) {
        // Laptops and Computers
        min-width: 25rem;
    }

    .mdc-deprecated-list-item__graphic-status {
        font-size: 0.75rem;
        margin: 2rem 0 0 2rem;
        position: absolute;
    }
}

.container--disable-click {
    pointer-events: none;
}

.container-elevation-s {
    @include elevation.elevation(4);
}

.container-elevation-m {
    @include elevation.elevation(8);
}

.container-elevation-l {
    @include elevation.elevation(16);
}

.container--hidden {
    display: none !important;
}

.container-justify-center {
    justify-self: center;
}

.container-parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-size-l {
    margin: 0rem 10%;
    min-height: 80vh;
    position: relative;
}

.container-size-m {
    margin: 0rem 10%;
    min-height: 60vh;
    position: relative;
}

.container-size-s {
    margin: 0rem 10%;
    min-height: 40vh;
    position: relative;
}

.container-size-xs {
    margin: 0rem 10%;
    min-height: 10vh;
    position: relative;
}

.container-stats-export {
    .mdc-button {
        margin: 0.1rem;
    }

    // .button-stats-export--excel {
    //     background-color: #1D6F42 !important;
    // }

    // .button-stats-export--pdf {
    //     background-color: #FF0000 !important;
    // }
}

.container-stats-list {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;

    .mdc-card {
        margin: 0.25rem 0.2rem;
        min-width: 14rem;
        text-align: start;

        .mdc-card__primary-action {
            padding: 0.5rem 1rem;

            .s-mdc-card__stats-result {
                margin: 1rem 0.25rem;
                text-align: center;
            }

            .s-mdc-card__stats-title {
                align-items: center;
                display: flex;
                margin: 0.35rem 0;

                div {
                    margin-left: 0.75rem;
                }

                i {
                    font-size: 3rem;
                }
            }
        }
    }

    .s-mdc-card__stats-size-xs {
        max-width: 14rem;
    }

    .s-mdc-card__stats-size-s {
        max-width: 18rem;
    }

    .s-mdc-card__stats-size-m {
        max-width: 20rem;
    }

    .s-mdc-card__stats-size-l {
        max-width: 30rem;
    }

    .s-mdc-card__stats-size-full {
        max-width: 100%;
    }
}

/* Font Theming */

.fa {
    font-size: 1.5rem;
}

.s-font-align-center {
    text-align: center;
}

.s-font-align-justify {
    text-align: justify;
}

.s-font-color-chat-away {
    color: #fdcd19 !important;
}

.s-font-color-chat-busy {
    color: #dc143c !important;
}

.s-font-color-chat-offline {
    color: #bcb8b1 !important;
}

.s-font-color-chat-online {
    color: #54a72a !important;
}

.s-font-color-chat-transferred {
    color: #f77f00 !important;
}

.s-font-color-dissatisfied {
    color: #e67f0d !important;
}

.s-font-color-green-confirm {
    color: #35ac19 !important;
}

.s-font-color-satisfied {
    color: #ffae03 !important;
}

.s-font-color-very-dissatisfied {
    color: #e71d36 !important;
}

.s-font-color-very-satisfied {
    color: #0ead69 !important;
}

.s-font-color-primary {
    color: stv.$swing-theme-primary !important;
}

.s-font-color-secondary {
    color: stv.$swing-theme-secondary !important;
}

.s-font-color-on-primary {
    color: stv.$swing-theme-on-primary !important;
}

.s-font-color-on-secondary {
    color: stv.$swing-theme-on-secondary !important;
}

.s-font-size-xl {
    font-size: 8rem;
}

.s-font-size-l {
    font-size: 5rem;
}

.s-font-size-m {
    font-size: 3rem;
}

/* Image styles */

.s-icon-color-email {
    color: #ff9932 !important;
}

.s-icon-color-facebook {
    color: #3B5998 !important;
}

.s-icon-color-linkedin {
    color: #0077B5 !important;
}

.s-icon-color-twitter {
    color: #1DA1F2 !important;
}

.s-icon-color-whatsapp {
    color: #25d366 !important;
}

.resize-image-2fit-90 {
    margin: 1rem;
    max-height: 90%;
    max-width: 90%;
}

.resize-image-2fit-70 {
    margin: 1rem;
    max-height: 70%;
    max-width: 70%;
}

.resize-image-2fit-50 {
    margin: 1rem;
    max-height: 50%;
    max-width: 50%;
}

.resize-image-2fit-30 {
    margin: 1rem;
    max-height: 30%;
    max-width: 30%;
}

/* jsCalendar Theming */

.jsCalendar.primary tbody td.jsCalendar-current {
    background-color: stv.$swing-theme-primary;
}

.jsCalendar.primary *::selection {
    background: stv.$swing-theme-primary;
}

.jsCalendar.primary *::-moz-selection {
    background: stv.$swing-theme-primary;
}

.jsCalendar.material-theme.primary thead {
    background-color: stv.$swing-theme-primary;
}

.jsCalendar.material-theme.primary thead .jsCalendar-nav-left:hover,
.jsCalendar.material-theme.primary thead .jsCalendar-nav-right:hover {
    background-color: darken(stv.$swing-theme-primary, 10%);
}

.jsCalendar.classic-theme.primary thead {
    background-color: stv.$swing-theme-primary;
}

.jsCalendar.classic-theme.primary thead .jsCalendar-nav-left:hover,
.jsCalendar.classic-theme.primary thead .jsCalendar-nav-right:hover {
    background-color: darken(stv.$swing-theme-primary, 10%);
}

.jsCalendar.secondary tbody td.jsCalendar-current {
    background-color: stv.$swing-theme-secondary;
}

.jsCalendar.secondary *::selection {
    background: stv.$swing-theme-secondary;
}

.jsCalendar.secondary *::-moz-selection {
    background: stv.$swing-theme-secondary;
}

.jsCalendar.material-theme.secondary thead {
    background-color: stv.$swing-theme-secondary;
}

.jsCalendar.material-theme.secondary thead .jsCalendar-nav-left:hover,
.jsCalendar.material-theme.secondary thead .jsCalendar-nav-right:hover {
    background-color: darken(stv.$swing-theme-secondary, 10%);
}

.jsCalendar.classic-theme.secondary thead {
    background-color: stv.$swing-theme-secondary;
}

.jsCalendar.classic-theme.secondary thead .jsCalendar-nav-left:hover,
.jsCalendar.classic-theme.secondary thead .jsCalendar-nav-right:hover {
    background-color: darken(stv.$swing-theme-secondary, 10%);;
}

.jsCalendar-date-available {
    background-color: #12e288;
}

.jsCalendar-date-booked {
    background-color: #ffd23f;
}

.jsCalendar-date-booked-full {
    background-color: #ee4266;
}

.jsCalendar-date-unavailable {
    color: #f0efeb !important;
}

.jsCalendar-date-weekend-currentmonth {
    color: #c32525 !important;
}

.jsCalendar-date-weekend-othermonth {
    color: #ffb4b4 !important;
}

.jsCalendar-caption {
    display: flex;
    justify-content: center;
}

.jsCalendar-caption-available {
    color: #12e288;
}

.jsCalendar-caption-booked {
    color: #ffd23f;
}

.jsCalendar-caption-booked-full {
    color: #ee4266;
}

/* Loader animation */
/* Credits to: @tobiasahlin */

.s-loader {
    margin: 2.5rem auto;
    text-align: center;
    width: 3rem;
}

.s-loader > div {
    -webkit-animation: s-loader-bounce-delay 1.4s infinite ease-in-out both;
    animation: s-loader-bounce-delay 1.4s infinite ease-in-out both;
    background-color: stv.$swing-theme-secondary;
    border-radius: 100%;
    display: inline-block;
    height: 1rem;
    width: 1rem;
}

.s-loader .s-loader-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.s-loader .s-loader-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes s-loader-bounce-delay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes s-loader-bounce-delay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
