/* SWING CMS APP LAYOUT CSS */

/* *******************
- Reusable Media Queries Sentences

// Laptops and Computers
@media all and (min-width: 56.25em) {
}

// Tablets
@media all and (max-width: 56.24em) {
}

// Smartphones
@media all and (max-width: 39.99em) {
}

********************** */

/* Import Theme Variables */

@use "swing_theme_variables" as stv;

/* Main Layout Components */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: stv.$swing-theme-background;
    display: flex;
    font-size: 1rem;
    font-family: stv.$swing-typography-font-family;
}

.mdc-drawer-app-content {
    flex: auto;
    height: 100vh;
    overflow: auto;
    position: relative;
}

.s-main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.s-footer {
    background: stv.$swing-theme-surface;
    font-size: 0.9rem;
    margin: 0rem 0.5rem;
    padding: 2rem;

    section {
        margin: 0rem 1rem;
    }

    .footer-section__title {
        font-weight: bold;
        font-variant: small-caps;
        margin-bottom: 1rem;
    }

    .footer-about__text {
        font-style: italic;
        line-height: 1.5rem;
    }

    .footer-about__author {
        float: right;
        font-size: 0.8rem;
        margin-top: 1rem;
    }

    .footer-copyright {
        font-size: 0.7rem;
    }
}

/* Container layouts */

.container-color-background {
    background: stv.$swing-theme-background;
    display: block;
    width: 100%;
}

.container-color-surface {
    background: stv.$swing-theme-surface;
    display: block;
    width: 100%;
}

.container-parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-size-l {
    margin: 0rem 10%;
    min-height: 80vh;
    position: relative;
}

.container-size-m {
    margin: 0rem 10%;
    min-height: 60vh;
    position: relative;
}

.container-size-s {
    margin: 0rem 10%;
    min-height: 40vh;
    position: relative;
}

/* Font Theming */

.fa {
    font-size: 1.5rem;
}

.s-font-align-center {
    text-align: center;
}

.s-font-align-justify {
    text-align: justify;
}

.s-font-color-primary {
    color: stv.$swing-theme-primary;
}

.s-font-color-secondary {
    color: stv.$swing-theme-secondary;
}

.s-font-color-on-primary {
    color: stv.$swing-theme-on-primary;
}

.s-font-color-on-secondary {
    color: stv.$swing-theme-on-secondary;
}

.s-font-size-xl {
    font-size: 8rem;
}

.s-font-size-l {
    font-size: 5rem;
}

.s-font-size-m {
    font-size: 3rem;
}

/* Image styles */

.resize-image-2fit-90 {
    height: 90%;
    width: 90%;
}

.resize-image-2fit-70 {
    height: 70%;
    width: 70%;
}
