{% extends 'layout_main-footer_topbar.html' %}
{% block page_description %}Contact-Os, Acerca de{% endblock %}
{% block page_title %}Acerca de{% endblock %}
{% block body %}
<main class="s-main-content">
    <article class="s-article">
        <div class="container-color-background">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <header
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                        <h4 class="mdc-typography--headline4 s-font-color-primary">
                            Acercando y brindando atención de calidad y con calidez, de manera digital.
                        </h4>
                    </header>
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                        <img class="resize-image-2fit-50" src="../static/images/manifest/icon-512x512.png"
                            alt="Logo Contact-Os" />
                    </div>
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                        <p class="mdc-typography--body1">
                            <i>
                                Contact-Os brinda la oportunidad de conectar y poner en ContactO, personas y servicios
                                de calidad y calidez, por medio del uso de las tecnologías de punta y protocolos estrictos
                                de seguridad de la información, brindando así confidencialidad, amigabilidad y conveniencia
                                en la interacción durante el uso de la misma.
                            </i>
                        </p>
                    </div>
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                        <h4 class="mdc-typography--headline4">
                            Con el apoyo de:
                        </h4>
                    </div>
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle s-font-align-center">
                        <img class="resize-image-2fit-50" src="../static/images/manifest/bid_slogan.png"
                            alt="Logo BID" />
                    </div>
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle s-font-align-center">
                        <img class="resize-image-2fit-50" src="../static/images/manifest/bid_slogan.png"
                            alt="Logo BID" />
                    </div>
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle s-font-align-center">
                        <img class="resize-image-2fit-50" src="../static/images/manifest/bid_slogan.png"
                            alt="Logo BID" />
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
{% endblock %}