{% extends 'layout_topbar_footer.html' %}
{% block page_description %}Contact-Os, Acerca de{% endblock %}
{% block page_title %}Acerca de{% endblock %}
{% block body %}
<main class="s-main-content mdc-top-app-bar--fixed-adjust">
    <article class="s-article s-article--centered">
        <header>
            <h2>
                Acercando y brindando atención de manera digital.
            </h2>
            <p class="logo-acercade">
                <img src="../static/images/manifest/icon-512x512.png" alt="Logo Contact-Os" />
            </p>
        </header>
        <section class="s-article__text">
            <p>
                <i>
                    Contact-Os brinda la oportunidad de conectar y poner en ContactO, personas y servicios de
                    calidad y calidez, por medio del uso de las tecnologías de punta y protocolos estrictos de
                    seguridad de la información, brindando así confidencialidad, amigabilidad y conveniencia en la
                    interacción durante el uso de la misma.
                </i>
            </p>
        </section>
        <section class="s-article__text">
            <h3>
                Con el apoyo de:
            </h3>
            <p class="logo-colaborador-acercade">
                <a href="https://www.iadb.org/" target="_blank">
                    <img class="logo-colaborador-acercade" src="../static/images/manifest/bid_slogan.png"
                        alt="Logo BID" />
                </a>
            </p>
        </section>
    </article>
</main>
{% endblock %}