{% extends 'layout_topbar_footer.html' %}
{% block page_description %}Contact-Os, Asistencia Remota, Conectando personas y servicios, ContactO{% endblock %}
{% block page_title %}Contact-Os{% endblock %}
{% block body %}
<main class="s-main-content mdc-top-app-bar--fixed-adjust">
    <section>
        <div class="parallax-caption">
            <img src="../static/images/manifest/icon-192x192.png" alt="Big Picture">
            <span class="parallax-caption--dark">Inicia sesión</span>
        </div>
        <div id="s-loader" class="s-loader"></div>
        <div id="firebaseui-auth-container" class="firebase-auth-widget"></div>
    </section>
    <section class="parallax-div parallax-div--light">
        <h2>
            Contact-Os
        </h2>
        <div class="parallax-content">
            <div class="parallax-content--wrap-left">
                <i class="material-icons" aria-hidden="true">account_circle</i>
            </div>
            <div class="parallax-content--text">
                <p>
                    En <b>Contact-Os</b> encontrarás un espacio dedicado especialmente para ti.
                </p>
                <p>
                    Esta sección te brindará herramientas pensadas para ti, que te serán de mucha ayuda en tu día a
                    día. Lo único que necesitarás hacer para utilizarlas es registrarte con nuestra app por medio
                    de una de las siguientes opciones:
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="classic-color-gp mdc-list-item__graphic fa fa-google" aria-hidden="true"></i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Google</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="classic-color-fb mdc-list-item__graphic fa fa-facebook" aria-hidden="true"></i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Facebook</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="classic-color-em material-icons mdc-list-item__graphic" aria-hidden="true">email</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Correo Electrónico</span>
                            </span>
                        </li>
                        
                    </ul>
                </p>
            </div>
        </div>
    </section>
    <section class="parallax parallax--small" style="background-image: url(https://source.unsplash.com/1600x900/?tech);">
        <div class="parallax-caption">
            <span class="parallax-caption--light">Lista de Quehaceres</span>
        </div>
    </section>
    <section class="parallax-div parallax-div--dark">
        <h2>
            Tu lista personal de tareas y pendientes
        </h2>
        <div class="parallax-content">
            <div class="parallax-content--wrap-right">
                <i class="material-icons" aria-hidden="true">list_alt</i>
            </div>
            <div class="parallax-content--text">
                <p>
                    <b>Contact-Os</b> te ayudará a que nunca olvides aquello importante para ti.
                </p>
                <p>
                    Carga contigo, siempre y en todo lugar, tu lista de quehaceres, tareas pendientes, tareas por
                    realizar o metas por alcanzar. Esto te brindará beneficios como:
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Priorizar tus tareas</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Organizar mejor tu tiempo</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Volverte aún más productiva</span>
                            </span>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </section>
    <section class="parallax parallax--small" style="background-image: url(https://source.unsplash.com/1600x900/?buildings);">
        <div class="parallax-caption">
            <span class="parallax-caption--dark">Notificaciones</span>
        </div>
    </section>
    <section class="parallax-div parallax-div--light">
        <h2>
            Notificaciones y Recordatorios
        </h2>
        <div class="parallax-content">
            <div class="parallax-content--wrap-left">
                <i class="material-icons" aria-hidden="true">notifications</i>
            </div>
            <div class="parallax-content--text">
                <p>
                    Por medio de <b>Contact-Os</b>, recibirás notificaciones y recordatorios directamente a tu
                    dispositivo.
                </p>
                <p>
                    Mantendremos un enlace directo de comunicación contigo, para poder informarte sobre noticias y
                    anuncios relevantes de Ciudad Mujer. Además recibirás recordatorios sobre eventos
                    importantes. Todo esto y más, para poder ofrecerte:
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Información directa</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Recordatorios importantes</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Mensajes de interés</span>
                            </span>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </section>
    <section class="parallax parallax--small">
        <div class="parallax-caption">
            <span class="parallax-caption--dark">¡Y todo de manera <b>GRATUITA</b>!.</span>
        </div>
    </section>
</main>
{% endblock %}