{% extends 'layout_footer.html' %}
{% block page_description %}Contact-Os, Welcome, Home, Inicio, Bienvenida{% endblock %}
{% block page_title %}Contact-Os Welcome{% endblock %}
{% block body %}
<main class="s-main-content mdc-top-app-bar--fixed-adjust">
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-l">
            <div class="mdc-layout-grid__inner">
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--align-middle">
                    <h2 class="mdc-typography--headline2 s-font-color-primary s-font-align-center">
                        Contact-Os
                    </h2>
                    <h6 class="mdc-typography--headline6">
                        Atención y servicios a un click de distancia.
                    </h6>
                    <p class="mdc-typography--body1 s-font-color-secondary">
                        Brindamos una plataforma moderna, segura y fácil de usar, con diferentes herramientas de
                        comunicación, para que puedas entrar en <b>Contact-O</b> de manera digital y confidencial con
                        personal calificado en diferentes servicios pensados para ti.
                    </p>
                    <p>
                        <button class="mdc-button mdc-button--raised">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Pruebalo ahora</span>
                        </button>
                    </p>
                </div>
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                    <img class="resize-image-2fit-90"
                        src="{{ url_for('static', filename='images/manifest/contact-os.svg') }}"
                        alt="Logo Contact-Os" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-surface">
        <div class="mdc-layout-grid container-size-m">
            <div class="mdc-layout-grid__inner">
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--align-middle">
                    <h2 class="mdc-typography--headline2 s-font-color-secondary s-font-align-center">
                        Diferentes formas para comunicarse
                    </h2>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top">
                    <i class="material-icons s-font-size-l s-font-color-primary" aria-hidden="true">chat</i>
                    <p class="mdc-typography--body1">
                        Mensajes por Chat
                    </p>
                    <p class="mdc-typography--body2">
                        Muchas veces es más eficiente y cómodo escribir tus pensamientos.
                    </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top">
                    <i class="material-icons s-font-size-l s-font-color-primary" aria-hidden="true">phone</i>
                    <p class="mdc-typography--body1">
                        Llamada de Voz
                    </p>
                    <p class="mdc-typography--body2">
                        Agenda una llamada de voz con un agente por medio de nuestra plataforma.
                    </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top">
                    <i class="material-icons s-font-size-l s-font-color-primary" aria-hidden="true">voice_chat</i>
                    <p class="mdc-typography--body1">
                        Videollamada
                    </p>
                    <p class="mdc-typography--body2">
                        Una videollamada puede resultar una experiencia mucho más personal.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-m">
            <div class="mdc-layout-grid__inner">
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                    <img class="resize-image-2fit-70"
                        src="{{ url_for('static', filename='images/manifest/calendar.svg') }}" alt="Calendario" />
                </div>
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--align-middle">
                    <h2 class="mdc-typography--headline2 s-font-color-primary s-font-align-center">
                        Reserva tu cita
                    </h2>
                    <h6 class="mdc-typography--headline6">
                        Puedes reservar tu cita de servicio.
                    </h6>
                    <p class="mdc-typography--body1 s-font-color-secondary">
                        Al registrarte en la plataforma, tendrás acceso a la opción de poder reservar la cita en el día
                        y hora que te sea más conveniente.
                    </p>
                    <p>
                        <button class="mdc-button mdc-button--outlined">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Registrate aquí</span>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}