{% extends 'layout_main-footer_topbar.html' %}
{% block page_description %}Contact-Os, Welcome, Home, Inicio, Bienvenida{% endblock %}
{% block page_title %}Contact-Os Welcome{% endblock %}
{% block body %}
<main class="s-main-content">
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-l">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--align-middle container-justify-center">
                    <h2 class="mdc-typography--headline2 s-font-color-primary s-font-align-center">
                        Contact-Os
                    </h2>
                    <h6 class="mdc-typography--headline6">
                        Atención y servicios a un click de distancia.
                    </h6>
                    <p class="mdc-typography--body1 s-font-color-secondary">
                        Brindamos una plataforma moderna, segura y fácil de usar, con diferentes herramientas de
                        comunicación, para que puedas entrar en <b>Contact-O</b> de manera digital y confidencial con
                        personal calificado en diferentes servicios pensados para ti.
                    </p>
                    <p>
                        <button class="mdc-button mdc-button--raised animate__animated animate__tada" aria-label="Try Chat" alt="Try Chat"
                            data-action-type="redirect" data-action-val="/chat/">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Pruebalo ahora</span>
                        </button>
                    </p>
                    <h6 class="mdc-typography--subtitle2">
                        O, si ya posees una cuenta en la plataforma:
                    </h6>
                    <p>
                        <button id="loginButton" class="mdc-button mdc-button--outlined" aria-label="Login" alt="Login"
                            data-action-type="redirect" data-action-val="/login/">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Inicia Sesión</span>
                        </button>
                    </p>
                </div>
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                    <img class="resize-image-2fit-90"
                        src="{{ url_for('static', filename='images/manifest/contact-os.svg') }}"
                        alt="Logo Contact-Os" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-surface">
        <div class="mdc-layout-grid container-size-m">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--align-middle container-justify-center">
                    <h2 class="mdc-typography--headline2 s-font-color-secondary s-font-align-center">
                        Diferentes formas para comunicarse
                    </h2>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top s-font-align-center">
                    <i class="material-icons s-font-size-l s-font-color-primary" aria-hidden="true">chat</i>
                    <p class="mdc-typography--body1">
                        Mensajes por Chat
                    </p>
                    <p class="mdc-typography--body2">
                        Muchas veces es más eficiente y cómodo escribir tus pensamientos.
                    </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top s-font-align-center">
                    <i class="material-icons s-font-size-l s-font-color-primary" aria-hidden="true">phone</i>
                    <p class="mdc-typography--body1">
                        Llamada de Voz
                    </p>
                    <p class="mdc-typography--body2">
                        Agenda una llamada de voz con un agente por medio de nuestra plataforma.
                    </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top s-font-align-center">
                    <i class="material-icons s-font-size-l s-font-color-primary" aria-hidden="true">voice_chat</i>
                    <p class="mdc-typography--body1">
                        Videollamada
                    </p>
                    <p class="mdc-typography--body2">
                        Una videollamada puede resultar en una experiencia mucho más personalizada.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-m">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                    <img class="resize-image-2fit-70"
                        src="{{ url_for('static', filename='images/manifest/calendar.svg') }}" alt="Calendario" />
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--align-middle container-justify-center">
                    <h2 class="mdc-typography--headline2 s-font-color-primary s-font-align-center">
                        Reserva tu cita
                    </h2>
                    <h6 class="mdc-typography--headline6">
                        Puedes reservar tu cita de servicio.
                    </h6>
                    <p class="mdc-typography--body1 s-font-color-secondary">
                        Al registrarte en la plataforma, tendrás acceso a la opción de reservar cita en el día
                        y hora que te sea más conveniente. Nos ajustamos a tu horario para estar en <b>Contact-O</b>.
                    </p>
                    <p>
                        <button class="mdc-button mdc-button--outlined" aria-label="Register" alt="Register"
                        data-action-type="redirect" data-action-val="/login/">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Registrate aquí</span>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block bottombar %}
<button id="floatingButton" class="mdc-fab mdc-fab--fixed mdc-fab--whatsapp"
        aria-label="WhatsApp Contact Center" onclick="window.open('https://wa.me/911');">
    <div class="mdc-fab__ripple"></div>
    <span class="mdc-fab__icon fa fa-whatsapp"></span>
</button>
{% endblock %}